* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 100; font-family: Verdana, Geneva, Tahoma, sans-serif; }

body { background-color: #e0e0e0; width: 100vw; height: 100vh; overflow: hidden; }

.preload * { -webkit-transition: none !important; transition: none !important; }

a { text-decoration: none; color: inherit; }

hr { border-bottom: #0888 solid 2px; }

#sidebar { position: absolute; top: 0; right: 0; height: 100%; width: 300px; background-color: #eee; background-image: -webkit-gradient(linear, right top, left top, from(#ffffff00), color-stop(90%, #ffffff00), color-stop(96%, #ffffff), color-stop(96%, #00000090), to(#ffffff00)); background-image: linear-gradient(to left, #ffffff00, #ffffff00 90%, #ffffff 96%, #00000090 96%, #ffffff00); padding: 10vh 0 5vh 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: right 2s; transition: right 2s; }

@media screen and (max-width: 1440px) { #sidebar.collapsed { right: -288px; } }

#sidebar #sidebar-toggle { opacity: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: absolute; top: 0; left: -80px; width: 380px; height: 100px; -webkit-transition: opacity 2s; transition: opacity 2s; }

@media screen and (max-width: 1440px) { #sidebar #sidebar-toggle { opacity: 1; } }

#sidebar #sidebar-toggle #sidebar-toggle-btn { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 70px; width: 70px; background-color: #eee; border: 3px solid #0888; border-radius: 20px; padding: 10px; }

@media screen and (max-width: 1440px) { #sidebar #sidebar-toggle #sidebar-toggle-btn { pointer-events: all; } }

@media screen and (max-height: 850px), (max-width: 480px) { #sidebar #sidebar-toggle #sidebar-toggle-btn { height: 50px; width: 50px; border-radius: 15px; padding: 7px; } }

#sidebar #sidebar-toggle #sidebar-toggle-btn div { height: 10px; width: 100%; border-radius: 5px; background-color: #444; -webkit-transition: all 1s; transition: all 1s; }

@media screen and (max-height: 850px), (max-width: 480px) { #sidebar #sidebar-toggle #sidebar-toggle-btn div { height: 6px; border-radius: 3px; } }

#sidebar #sidebar-toggle #sidebar-toggle-btn div:nth-child(1) { -webkit-transform: translatey(175%) rotate(45deg); transform: translatey(175%) rotate(45deg); }

@media screen and (max-height: 850px), (max-width: 480px) { #sidebar #sidebar-toggle #sidebar-toggle-btn div:nth-child(1) { -webkit-transform: translatey(195%) rotate(45deg); transform: translatey(195%) rotate(45deg); } }

#sidebar #sidebar-toggle #sidebar-toggle-btn div:nth-child(2) { opacity: 0; }

#sidebar #sidebar-toggle #sidebar-toggle-btn div:nth-child(3) { -webkit-transform: translatey(-175%) rotate(-45deg); transform: translatey(-175%) rotate(-45deg); }

@media screen and (max-height: 850px), (max-width: 480px) { #sidebar #sidebar-toggle #sidebar-toggle-btn div:nth-child(3) { -webkit-transform: translatey(-195%) rotate(-45deg); transform: translatey(-195%) rotate(-45deg); } }

#sidebar #sidebar-toggle #sidebar-toggle-btn.collapsed div { -webkit-transform: none; transform: none; opacity: 1; }

#sidebar #sidebar-nav { width: 100%; display: -ms-grid; display: grid; grid-auto-columns: auto; row-gap: 25%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#sidebar #sidebar-nav .main-nav-btn { display: block; text-align: center; padding: 10px 15px; border-radius: 15px; -webkit-box-shadow: 3px 3px 8px #000a, -3px -3px 6px #fff; box-shadow: 3px 3px 8px #000a, -3px -3px 6px #fff; color: #0008; text-shadow: -1px -1px 1px #000a, 1px 1px 1px #fff; font-weight: bold; font-size: 18px; -webkit-transition: color 0.1s, -webkit-box-shadow 0.2s; transition: color 0.1s, -webkit-box-shadow 0.2s; transition: box-shadow 0.2s, color 0.1s; transition: box-shadow 0.2s, color 0.1s, -webkit-box-shadow 0.2s; }

#sidebar #sidebar-nav .main-nav-btn:hover { -webkit-box-shadow: 2px 2px 6px #000a, -2px -2px 5px #fff; box-shadow: 2px 2px 6px #000a, -2px -2px 5px #fff; color: #0888; }

#sidebar #sidebar-nav .main-nav-btn.active, #sidebar #sidebar-nav .main-nav-btn:active { -webkit-box-shadow: 1px 1px 2px #000a, -1px -1px 2px #fff; box-shadow: 1px 1px 2px #000a, -1px -1px 2px #fff; color: #0aaa; }

#sidebar #sidebar-contact .sidebar-contact-item { font-weight: bold; font-size: 18px; color: #066b; }

#sidebar #sidebar-contact .sidebar-contact-item:hover { color: #099c; }

#content-container { height: 100%; }

#content-container .content-section { position: absolute; top: 0; left: 0; height: 100%; width: 100%; padding: 5%; padding-right: calc( 5% + 288px); -webkit-transition: margin 2s, opacity 1s; transition: margin 2s, opacity 1s; }

@media screen and (max-width: 1440px) { #content-container .content-section { padding-right: 5%; } }

#content-container .content-section.hidden { opacity: 0; pointer-events: none; }

#content-container .content-section .section-title { grid-area: section-title; grid-column: span 2; font-size: 7vw; color: #0888; text-align: center; background-clip: text; text-shadow: 1px 4px 6px #eee, 0 0 0 #000, 1px 4px 6px #eee; }

#content-container .content-section .section-title::-moz-selection { text-shadow: none; background: #000; color: #fff; }

#content-container .content-section .section-title::selection { text-shadow: none; background: #000; color: #fff; }

@media screen and (max-width: 720px) { #content-container .content-section .section-title { grid-column: span 1; } }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container .content-section .section-title { grid-column: span 1; } }

#content-container .content-section .card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -ms-flex-pack: distribute; justify-content: space-around; font-size: 18px; padding: 15px 20px; border-radius: 15px; -webkit-box-shadow: 3px 3px 8px #000a, -3px -3px 6px #fff; box-shadow: 3px 3px 8px #000a, -3px -3px 6px #fff; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container .content-section .card { font-size: 16px; } }

#content-container .content-section .card p { margin: 10px 0; }

#content-container .content-section #portrait { background-color: #ffffff50; background-image: url("../img/portrait.png"); background-size: cover; background-repeat: no-repeat; background-position: center; width: 200px; height: 250px; border-radius: 90px; border: 3px solid #0888; margin: 10px; -webkit-box-shadow: 3px 3px 8px #000a, -3px -3px 6px #fff; box-shadow: 3px 3px 8px #000a, -3px -3px 6px #fff; }

@media screen and (max-width: 720px) { #content-container .content-section #portrait { grid-area: portrait; margin: auto; } }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container .content-section #portrait { display: none; } }

#content-container #about { display: -ms-grid; display: grid; grid-template: "section-title" / auto auto; row-gap: 10%; -webkit-column-gap: 5%; column-gap: 5%; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 720px) { #content-container #about { grid-template: "section-title" "portrait" / auto; row-gap: 5%; } }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #about { grid-template: "section-title" / auto; } }

#content-container #skills { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #skills #skills-container { padding: 10px 15px; } }

#content-container #skills #skills-container .skill { margin: 10px 0; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #skills #skills-container .skill { margin: 5px 0; } }

#content-container #skills #skills-container .skill h3 { color: #066b; font-size: 20px; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #skills #skills-container .skill h3 { font-size: 18px; } }

#content-container #skills #skills-container .skill p { font-size: 16px; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #skills #skills-container .skill p { font-size: 14px; } }

#content-container #work { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

#content-container #work #work-container { display: -ms-grid; display: grid; -ms-grid-columns: auto auto; grid-template-columns: auto auto; -webkit-column-gap: 5%; column-gap: 5%; }

@media screen and (max-width: 720px) { #content-container #work #work-container { -ms-grid-columns: auto; grid-template-columns: auto; } }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #work #work-container { padding: 10px 15px; } }

#content-container #work #work-container .work { margin: 10px auto; }

#content-container #work #work-container .work .work-thumbnail { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#content-container #work #work-container .work .work-thumbnail img { width: 300px; max-width: 30vw; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #work #work-container .work { margin: 5px 0; } }

#content-container #work #work-container .work h3 { color: #066b; font-size: 20px; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #work #work-container .work h3 { font-size: 18px; } }

#content-container #work #work-container .work p { font-size: 16px; }

@media screen and (max-height: 850px), (max-width: 480px) { #content-container #work #work-container .work p { font-size: 14px; } }
